<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles2.css">
</head>
<script src = "/static/js/jquery-3.6.1.js"></script>

  <body class="center">
    <div class="login-wrapper">
        <h2>비밀번호 찾기</h2>
    <form method="post" id="login-form">
        {% csrf_token %}
	<input type="text" name="email" class="form-control" placeholder="이메일을 입력해주세요" autofocus>
	<input type="text" name="id" class="form-control" placeholder="아이디를 입력해주세요" autofocus>
	<input type="text" name="tel" class="form-control" placeholder="전화번호를 입력해주세요" autofocus>
	<div class="text-center text-danger">{{msg}}</div>
	<input class="btn btn-primary mr-1" type="submit" value="비밀번호찾기">
	<input class="btn btn-secondary" type="button" value="뒤로가기" onclick="location.href='/kakao/login'">
	</div>
    </form>
      	{% if result == 1 %}
	<script>
		alert("비밀번호는 {{passwd}}입니다");
		location.href="/kakao/login";
	</script>

	{% endif %}
	
</body>
</html>