
<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Document</title>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	    <link rel="stylesheet" href="/static/css/styles2.css">
	    <script src = "/static/js/jquery-3.6.1.js"></script>
		<script src = "/static/js/script_member.js"></script>
		<script type="text/javascript">
		   function fileCheck( obj ) {
		      pathpoint = obj.value.lastIndexOf('.');
		      filepoint = obj.value.substring(pathpoint+1,obj.length);
		      filetype = filepoint.toLowerCase();
		      if(filetype=='jpg'||filetype=='png'||filetype=='jpeg'||filetype=='webm'||filetype=='bmp'||filetype=='gif'||filetype=='jfif'||filetype=='ppm'||filetype=='ppm'||filetype=='pgm'||filetype=='pbm'||filetype=='pnm'){
		         //정상적인 이미지 확장자 파일
		      } else {
		         alert('이미지 파일만 선택할 수 있습니다.');
		         obj.value = "";
		         }
		      }
		</script>
	</head>
	<body class="register_body">
  <div class="container">
    <div class="input-form-backgroud row">
      <div class="input-form col-md-12 mx-auto">
        
       <form method="post" action="modifyPro" name="modifyform" enctype="multipart/form-data">
        {% csrf_token %}
            <h1 style="text-align:center">회원정보수정</h1>
            <div class="mb-3">
              <label for="id">아이디</label>
              <td> &nbsp;{{dto.userid}} </td>
            </div> 
            
            <div class="mb-3">
                <label for="passwd">비밀번호</label><span id="pwchk" class="text-danger"></span>
                <input type="password" class="form-control" name="passwd" maxlength="50" value="{{dto.passwd}}" required>
              </div>

            <div class="mb-3">
                <label for="passwd">비밀번호확인</label><span id="repwchk" class="text-danger"></span>
                <input type="password" class="form-control" name="repasswd" value="{{dto.passwd}}" maxlength="50" required>
              </div>
            <div class="mb-3">
              <label>이름</label>            
			  <td> &nbsp;{{dto.nickname}} </td>              
              <font id="chkNotice" size="2"></font>
            </div>

          <div class="mb-3">
                <label for="birth">생년월일<span class="text-muted">&nbsp;(필수 아님)</span></label>
                <input type="text" class="form-control" name="birth" value="{{dto.birth}}" maxlength="6">
          </div>
          <div class="mb-3">
            <label for="email">이메일</label>
			<td> &nbsp;{{dto.email}} </td>
          </div>

          <div class="mb-3">
            <label for="tel">전화번호</label>
            <input type="text" class="form-control" name="tel" value="{{dto.tel}}" required maxlength="11" placeholder="-를 빼고 입력해주세요.">
          </div>

          <div class="mb-3">
            <label for="address">주소</label>
            <input type="button" onclick="sample5_execDaumPostcode()" class="btn btn-outline-dark" value="주소 검색"><br>
            <input type="text" class="form-control" name="address" value="{{dto.address}}" required>
            <div class="invalid-feedback">
              주소를 입력해주세요.
            </div>
          </div>

          <div class="mb-3">
            <label for="address2">상세주소<span class="text-muted">&nbsp;(필수 아님)</span></label>
            <input type="text" class="form-control" name="address2" value="{{dto.address2}}">
          </div>

		<div class="mb-3">
            <label for="userimg">프로필사진<span class="text-muted">&nbsp;(필수 아님)</span></label>
            <input class="input" type="file" name="userimg" accept="image/*" onchange="fileCheck(this)">
          </div>

          <div class="mb-4"></div>
          <button class="btn btn-primary btn-lg btn-block" type="submit" value="수정">완료</button>
          <button class="btn btn-secondary btn-lg btn-block" onclick="location='main'" value="취소">취소</button>
        </form>
          

         
      </div>
    </div>

  </div>
	</body>
</html>






















