
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles2.css">
    <script src = "/static/js/jquery-3.6.1.js"></script>
	<script src = "/static/js/script_member.js"></script>

</head>

<!-- 주소 검색 api 시작 -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<!--<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8fcedfd3e57201834708f82001f5c7b6&libraries=services"></script>-->
<script>

    function sample5_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = data.address; // 최종 주소 변수

                // 주소 정보를 해당 필드에 넣는다.
                //document.getElementsByClassName("address").value = addr;
                $('input[name=address]').attr('value',addr);
                
            }
        }).open();
    }
</script>
<!-- 주소 검색 api 끝 -->

<body class="register_body">
  <div class="container">
    <div class="input-form-backgroud row">
      <div class="input-form col-md-12 mx-auto">
                <form method="post" action="register" class="validation-form" name="inputform" novalidate>
        {% csrf_token %}
            <h1 style="text-align:center">회원가입</h1>
              <input type="hidden" name="confirm" value="0">
              <input type="hidden" name="confirmname" value="0">
              <input type="hidden" name="confirmemail" value="0">       
            
            <div class="mb-3">
              <label for="id">아이디</label>&nbsp;&nbsp;<span id="chk" class="text-danger"></span>
              <input type="text" class="form-control" name="id" id="userid" placeholder="" value="" required>
              
            </div>
            
            
            
            <div class="mb-3">
                <label for="passwd">비밀번호</label>&nbsp;<span id="pwchk" class="text-danger"></span>
                <input type="password" class="form-control" name="passwd" maxlength="50" placeholder="비밀번호는 영문 및 숫자 특수문자를 사용해 4-20글자로 입력해주세요."required>
              </div>



            <div class="mb-3">
                <label for="passwd">비밀번호확인</label>&nbsp;<span id="repwchk" class="text-danger"></span>
                <input type="password" class="form-control" name="repasswd" maxlength="50" required>
              </div>



            <div class="mb-3">
              <label for="user_name">이름</label>&nbsp;&nbsp;<span id="user_namechk" class="text-danger"></span>            
              <input type="text" class="form-control" name="user_name" placeholder="" value="" required>
              <font id="chkNotice" size="2"></font>
            </div>



          <div class="mb-3">
                <label for="birth">생년월일<span class="text-muted"></span></label>
                <input type="text" class="form-control" name="birth" maxlength='6' placeholder="생년월일(6글자)을 입력해주세요.">
          </div>



          <div class="mb-3">
            <label for="email">이메일</label>&nbsp;&nbsp;<span id="emailchk" class="text-danger"></span>
            <input type="email" class="form-control" name="email" placeholder="you@example.com" maxlength='25' required >
          </div>



          <div class="mb-3">
            <label for="tel">전화번호</label>
            <input type="text" class="form-control" name="tel" placeholder="-를 빼고 번호만 입력해주세요." required maxlength="11">
            <div class="invalid-feedback">
              전화번호를 입력해주세요.
            </div>
          </div>
          
          <div class="mb-3">
            <label for="address">주소</label>
            <input type="button" onclick="sample5_execDaumPostcode()" class="btn btn-outline-dark" value="주소 검색"><br>
            <input type="text" class="form-control" name="address" placeholder="서울특별시 강남구" required>
            <div class="invalid-feedback">
              주소를 입력해주세요.
            </div>
          </div>

          <div class="mb-3">
            <label for="address2">상세주소<span class="text-muted">&nbsp;(필수 아님)</span></label>
            <input type="text" class="form-control" name="address2" placeholder="상세주소를 입력해주세요.">
          </div>

          <hr class="mb-4">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="agreement" value="0" required>
            <label class="custom-control-label" for="agreement"><a href="registerpro" target="_blank" onClick="window.open(this.href, '', 'width=400, height=430'); return false;">개인정보 수집 및 이용</a>에 동의합니다.</label>
          </div>
          <div class="mb-4"></div>
          <button class="btn btn-primary btn-lg btn-block" id="registerdone" type="submit" value="0">가입 완료</button>
        </form>
      </div>
    </div>

  </div>
</body>
</html>