<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta nmae="viewport" content ="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
</head>
<body>
	<h2>Hello World!</h2>
	<a href ="/"><button>홈으로</button></a>
	
	<a href = "{% url 'kakao:main' %}"><button>게시판</button></a>
	<a href = "/polls"><button>설문조사 하러가기</button></a>
	{% if login_session %}
	<a href = "{% url 'kakao:logout' %}"><button>로그아웃</button></a>
	{% else %}
	<a href ="{% url 'kakao:login' %}"><button>로그인</button></a>
	<a href ="{% url 'kakao:register'%}"><button>회원가입</button></a>
	{% endif %}
	
	<div style ="border:1px black solid; margin: 20px 0px;"></div>
	{% block contents %}
	{% endblock contents%}
</body>
</html>